<%= turbo_frame_tag "flash" do %>
  <% if flash[:notice] %>
    <div class="notice col-md-12"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert col-md-12"><%= flash[:alert] %></div>
  <% end %>
<% end %>
